* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* -------------------------------------------------- */
/* Inizio Common */

.flex {
	display: flex;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

/* Fine Common */
/* -------------------------------------------------- */
/* Inizio Main */

/* Fine Main */
/* -------------------------------------------------- */
/* Inizio Footer */

/* Fine Footer */
/* -------------------------------------------------- */

/* !DEBUG ZONE! */

.debug main {
	width: 100vw;
	height: 90vh;
	background-color: lightgreen;
}

.debug footer {
	width: 100vw;
	height: 10vh;
	background-color: lightblue;
}

.debug .window-settings {
	width: 300px;
	height: 70px;
	background-color: green;
	position: absolute;
	top: 0;
	right: 0;
}
