* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

/* -------------------------------------------------- */
/* Inizio Common */

.flex {
	display: flex;
}

.inner-left {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: 20px;
}

/* Fine Common */
/* -------------------------------------------------- */
/* Inizio Main */
main {
	background-color: black;
	width: 100vw;
	height: 90vh;
	justify-content: space-between;
	align-items: center;
}

.window-settings {
	width: 300px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
}

.main-box {
	width: 85%;
	height: 85%;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
}

.partecipant {
	width: calc(100% / 5 - 5px);
	height: calc(100% / 5 - 5px);
	position: relative;
}

.partecipant img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.partecipant > .overlay {
	min-width: 30%;
	max-width: 80%;
	color: white;
	font-size: 20px;
	white-space: nowrap;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 5px;
}

.active {
	border-style: inset;
	border: 5px solid yellow;
}

.partecipant i {
	color: red;
}

.left-box,
.right-box {
	color: white;
	width: 5%;
	height: 100%;
	font-size: 24px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.left-box i {
	color: grey;
}

.right-box i {
	color: cyan;
}
/* Fine Main */
/* -------------------------------------------------- */
/* Inizio Footer */
footer {
	width: 100vw;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	font-size: 24px;
	white-space: nowrap;
	color: white;
	background-color: #222326;
}

.footer-left,
.footer-main,
.footer-right {
	height: 100%;
}

#mic-settings {
	padding-left: 20px;
	padding-right: 10px;
}
.menu {
	align-items: center;
	justify-content: center;
}

.icon {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.footer-right {
	line-height: 10vh;
	width: 10%;
}

.footer-right a {
	text-decoration: none;
	color: red;
	background-color: #4a4b4d;
	width: 100%;
	text-align: center;
}

.fa-share-alt {
	color: #4bc800;
}

.fa-circle {
	color: red;
}
/* Fine Footer */
/* -------------------------------------------------- */

/* !DEBUG ZONE! */

/* .debug main {
	width: 100vw;
	height: 90vh;
	background-color: lightgreen;
	justify-content: space-between;
	align-items: center;
}

.debug footer {
	width: 100vw;
	height: 10vh;
	background-color: rgb(87, 86, 86);
	justify-content: space-between;
	align-items: center;
	font-size: 28px;
}

.debug .main-box {
	width: 85%;
	height: 85%;
	background-color: grey;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
}

.debug .left-box,
.debug .right-box {
	width: 5%;
	height: 100%;
	background-color: blue;
	font-size: 24px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.debug .footer-left {
	background-color: red;
	height: 100%;
	width: 15%;
}

.debug .footer-main {
	background-color: green;
	height: 100%;
	width: 900px;
}

.debug .footer-right {
	background-color: red;
	height: 100%;
	width: 10%;
}

.debug .partecipant {
	width: calc(100% / 5 - 5px);
	height: calc(100% / 5 - 5px);
	background-color: purple;
	border: 1px solid black;
	position: relative;
}

.debug .partecipant > .overlay {
	min-width: 30%;
	max-width: 80%;
	color: white;
	font-size: 20px;
	white-space: nowrap;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 5px;
}

.debug .partecipant i {
	color: red;
}
.debug .left-box i {
	color: grey;
}

.debug .right-box i {
	color: lightblue;
}

.debug .active {
	border-style: inset;
	border: 5px solid yellow;
}

.debug .partecipant img {
	width: 100%;
	height: 100%;
	object-fit: cover;
} */
