* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* -------------------------------------------------- */
/* Inizio Common */

.flex {
	display: flex;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

/* Fine Common */
/* -------------------------------------------------- */
/* Inizio Main */

/* Fine Main */
/* -------------------------------------------------- */
/* Inizio Footer */

/* Fine Footer */
/* -------------------------------------------------- */

/* !DEBUG ZONE! */

.debug main {
	width: 100vw;
	height: 90vh;
	background-color: lightgreen;
	justify-content: space-between;
	align-items: center;
}

.debug footer {
	width: 100vw;
	height: 10vh;
	background-color: rgb(87, 86, 86);
	justify-content: space-between;
	align-items: center;
}

.debug .window-settings {
	width: 300px;
	height: 50px;
	background-color: green;
	position: absolute;
	top: 0;
	right: 0;
}

.debug .main-box {
	width: 85%;
	height: 85%;
	background-color: grey;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
}

.debug .left-box,
.debug .right-box {
	width: 5%;
	height: 100%;
	background-color: blue;
}

.debug .left-menu {
	background-color: red;
	height: 100%;
	width: 15%;
}

.debug .center-menu {
	background-color: green;
	height: 100%;
	width: 900px;
}

.debug .right-menu {
	background-color: red;
	height: 100%;
	width: 10%;
}

.partecipant {
	width: calc(100% / 5 - 5px);
	height: calc(100% / 5 - 5px);
	background-color: purple;
	border: 1px solid black;
}

.overlay {
   width: calc(100% / 3);
   color: white;
   background-color: rgba(0, 0, 0, 0.205)
}