* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* -------------------------------------------------- */
/* Inizio Common */

/* Fine Common */
/* -------------------------------------------------- */
/* Inizio Main */

/* Fine Main */
/* -------------------------------------------------- */
/* Inizio Footer */

/* Fine Footer */
/* -------------------------------------------------- */

/* !DEBUG ZONE! */

.debug main {
	width: 100vw;
	height: 90vh;
	background-color: lightgreen;
}

.debug footer {
	width: 100vw;
	height: 10vh;
	background-color: lightblue;
}
